<h3 style="text-align: center">Muốn Giỏi Tiếng Anh: Hãy Tự Học</h3>
<h5 style="text-align: center;color: red">Bất Kỳ Ai Cũng Có Thể Giỏi Tiếng Anh Với Mẹo Học “Đơn Giản” Này</h5>
<p style="text-align: justify">Chào các bạn, mình là Tiến hay còn được gọi với cái tên là Tiến Voi. Năm nay 26 tuổi, hiện đang là nhân viên kế hoạch sản xuất công ty Spica Elastic.

    Hiện tại, mình đang làm trong 1 môi trường có thể nói là giao tiếp hoàn toàn bằng Tiếng Anh với mức thu nhập khá cao và ổn định.
    
    ​Nghĩ lại khoảng 3 - 4 năm trước đây thôi, cuộc sống của mình đã thực sự bế tắc.
    
    Mình kể các bạn nghe câu chuyện này…</p><br>
<p style="text-align: justify">Chỉ 3 - 4 năm trước thôi, mình vẫn đang là 1 đứa sinh viên hết - sức - bình - thường của khoa kế toán trường ĐH Nông Nghiệp. Vốn Tiếng Anh của mình hồi đó gần như là không có gì hết.

    Bản thân cũng là một đứa nhận thức được tầm quan trọng của Tiếng Anh trong cuộc sống, nên mình cũng đã mày mò rồi theo học rất nhiều phương pháp tự học Tiếng Anh khác nhau.
    
    Từ việc tham gia CLB Tiếng Anh của trường, đến đi học trung tâm rồi cả theo học các phương pháp “hot hot” hồi ấy được giới thiệu trên mạng (mình xin phép không kể tên ở đây), nhưng rồi, tất cả cũng nhanh chóng đi vào ngõ cụt…
    
    Hồi đó, mình cảm thấy cực nản, mỗi lần học là chẳng biết bắt đầu từ đâu, học sao cho đúng, rồi lại thắc mắc “học thế này liệu có hiệu quả không?”
    
    Đến trung tâm thì “buổi đực buổi cái”, vì trung tâm chỉ có đúng 2 tiếng 1 buổi thôi, mà hôm trời mưa to quá thì “ngại”, hôm thì tụ tập bạn bà “cà phê cà pháo” xong cũng muộn giờ học,... Chưa kể hồi đó mình còn áp lực học hành, thi cử rồi áp lực với khóa luận... Đâm ra cần linh hoạt thời gian hơn… Vậy là mình nghỉ trung tâm.
    
    Rồi về nhà tự học, mình “loay hoay” với một đống các tài liệu Tiếng Anh. Nhìn từ mới nào cũng “note” lại, rồi ghi chép hết cả quyển sổ dày, nhưng chỉ 3 hôm sau thôi đầu lại “rỗng tuếch”, động đến từ nào cũng quên. Đâm ra mình càng nản.</p>